<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scame.savealifenotifier">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:name=".SaveAlifeApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.activities.FirebaseTestActivity">

        </activity>

        <activity android:name=".presentation.activities.PageActivity" >
        </activity>

        <activity android:name=".presentation.activities.DriversHelpMapActivity" />
        <activity android:name=".presentation.activities.GoogleHelpMapActivity" />

        <activity android:name=".presentation.activities.SplashScreenActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".firebase.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".FusedLocationService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAl0A1-Ta3bk1CyvxWgZCkYRmv9-CnjIb4"/>
    </application>

</manifest>